a {
  text-decoration: none;
  color: #d7ceb2;
  font-size: 1.5em;
}

.button-home {
  width: 150px;
  height: 150px;
  font-weight: 800;
  font-size: 2em;
}

.titlehover {
  color: lightgrey;
  font-size: 2.5em;
  text-align: center;
}

.bar {
  border-top: 1px solid #d7ceb2;
  width: 40%;
  margin: auto;
  margin-top: 50px;
  font-style: italic;
}
