h2 {
  font-size: 4em;
  text-align: center;
  color: lightgrey;
  margin-bottom: 20px;
  font-family: "Georgia";
}

h3 {
  font-size: 2em;
  text-align: center;
  color: #d7ceb2;
}

a {
  text-decoration: none;
  color: #d7ceb2;
  font-size: 1.5em;
}
